		<div class="pane-header ">
			<h2>Company name: {{updatePartnerInfo.CompanyName}}</h2>
			<p>Detail Values</p>

			<div class="header-row">
			     <mat-form-field>
					<input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Filter">
					<button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
			        	<mat-icon>close</mat-icon>
			     	</button>
				</mat-form-field>
				<div class="button-row">
			        <button mat-button *ngIf=!globals.isEditMode (click)="turnEditMode()"><mat-icon>mode_edit</mat-icon>EDIT</button>

			        <button mat-button *ngIf=globals.isEditMode (click)="saveDetail()"><mat-icon>save</mat-icon>SAVE</button>
			        <!-- <button mat-button *ngIf=globals.isEditMode (click)="resetDetail()"><mat-icon>restore</mat-icon>RESET</button> -->
			        <button mat-button (click)="closeDetail()"><mat-icon>close</mat-icon>CLOSE</button>
			      </div>
			</div>
		</div>
		<mat-table #table [dataSource]="dataSource" matSortActive="name" matSortDirection="asc" matSortDisableClear>

		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.Name}} </mat-cell>
		</ng-container>

		<!-- Value Column -->
		<ng-container matColumnDef="value">
			<mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-form-field floatLabel="never">
					<input matInput placeholder="" [value]="element.Value" [(ngModel)]="element.Value" [disabled]="!globals.isEditMode">
				</mat-form-field>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
