<mat-sidenav-container class="animate-show">
	<mat-sidenav-content>
	<main-pane class="pane"></main-pane>
  </mat-sidenav-content>
   <!-- <mat-sidenav #sidenav mode="side" align="end" [(opened)]="isShowDetail">
    <detail-pane class="pane"></detail-pane>
  </mat-sidenav>  -->
</mat-sidenav-container>
<!-- <app-categorytree>loading...sdsdsds</app-categorytree> -->