<div class="pane-header ">
	<h1>Manage Partner</h1>
	<div class="header-row" *ngIf="dataSource.data.length > 0">
		<mat-form-field>
			<input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			<button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
          <mat-icon>close</mat-icon>
        </button>
		</mat-form-field>
		<div class="button-row">
			<button mat-button (click)="exportAll(true)"><mat-icon>launch</mat-icon>EXPORT</button>
			<button mat-button (click)="exportAll(false)"><mat-icon>launch</mat-icon>EXPORT TEST ACOUNTS</button>
      <button mat-button (click)="viewAll(true)" *ngIf="!isViewAll"><mat-icon>view_headline</mat-icon>VIEW ALL</button>
			<button mat-button (click)="viewAll(false)" *ngIf="isViewAll"><mat-icon>view_headline</mat-icon>VIEW PROD ACOUNTS</button>
		</div>
	</div>
</div>

<div class="circle-loader" *ngIf="isLoadingResults"></div>
<p class="error-mess animate-show" *ngIf="dataSource.data.length == 0 && !isLoadingResults"><mat-icon>error</mat-icon>Please check access token</p>

<mat-table #table [dataSource]="dataSource" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

    <ng-container matColumnDef="companyname">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header
                       disableClear="true">
      Company Name
      </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.CompanyName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="test">
      <mat-header-cell *matHeaderCellDef>Test</mat-header-cell>
      <mat-cell *matCellDef="let row"><mat-icon *ngIf="isTestCompany(row)">check</mat-icon></mat-cell>
    </ng-container>

    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.State }}</mat-cell>
    </ng-container>

     <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef>Country</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.Country }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="datesubscribed">
      <mat-header-cell *matHeaderCellDef>Date Subscribed</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.datesubscribed }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
		<mat-header-cell *matHeaderCellDef></mat-header-cell>
		<mat-cell *matCellDef="let row">
			<button mat-icon-button (click)="editRow()">
          <mat-icon>mode_edit</mat-icon>
        </button>
		</mat-cell>
	</ng-container>
	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.Id}" (click)="selectRow(row)" class="animate-show" ></mat-row>
</mat-table>

<mat-paginator [length]="resultsLength" [pageSize]="14">
</mat-paginator>