body {
	 margin: 0;
	 font-family: "Segoe UI", sans-serif;
}
 mat-sidenav-container {
	 display: flex;
	 align-items: flex-start;
	 min-width: 300px;
	 width: 100%;
	 font-family: "Segoe UI", sans-serif !important;
	 color: rgba(0, 0, 0, 0.87);
}
 mat-sidenav-container .mat-form-field {
	 font-size: 14px;
	 width: 100%;
}
 mat-sidenav-container .mat-table {
	 overflow: auto;
	 height: calc(100vh - 215px);
}
 mat-sidenav-container .mat-table .mat-form-field-ripple {
	 background: #f59b2d;
}
 mat-sidenav-container .mat-row {
	 border: none !important;
	 overflow: hidden;
	 cursor: pointer;
}
 mat-sidenav-container .mat-cell {
	 color: #4a4a4a;
}
 mat-sidenav-container .mat-paginator-container {
	 border-top: 1px solid rgba(0, 0, 0, .12);
}
 mat-sidenav-container .mat-sidenav-content {
	 box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
	 z-index: 2;
}
 mat-sidenav-container .mat-sidenav {
	 max-width: 500px;
}
 .pane {
	 min-width: 40%;
}
 .pane .pane-header {
	 min-height: 100px;
	 height: 150px;
	 padding: 8px 24px 0;
	 background-color: #f48f15;
	 color: #fff;
}
 .pane .pane-header h1, .pane .pane-header h2 {
	 font-weight: 300;
}
 .pane .pane-header .header-row {
	 display: flex;
	 justify-content: space-between;
}
 .pane .pane-header .header-row .mat-form-field {
	 max-width: 200px;
}
 .pane .pane-header .header-row .mat-form-field .mat-form-field-label {
	 color: #fff;
}
 .pane .pane-header .header-row .mat-form-field .mat-form-field-underline {
	 background: rgba(255, 255, 255, 0.5);
}
 .pane .pane-header .header-row .mat-form-field .mat-form-field-ripple {
	 background: #fff;
}
 .pane .pane-header .header-row .button-row {
	 padding-top: 11px;
}
 .pane .pane-header .header-row .mat-button {
	 font-weight: normal;
	 padding: 0 5px;
}
 .pane .pane-header .header-row .mat-button .mat-icon {
	 font-size: 22px;
	 padding-right: 4px;
}
 .pane .mat-column-test {
	 max-width: 100px;
	 text-align: center;
}
 .pane .mat-column-test .mat-icon {
	 font-size: 22px;
	 color: #003a75;
}
 .pane .mat-column-action {
	 max-width: 100px;
	 text-align: right;
}
 .pane .mat-column-action .mat-icon {
	 font-size: 24px;
}
 .pane .mat-column-created {
	 max-width: 124px;
}
 .pane .mat-header-cell, .pane .mat-sort-header-button {
	 text-transform: uppercase;
	 font-weight: 600;
	 color: #4a4a4a;
}
 .pane .mat-header-row {
	 position: sticky;
	 background: white;
	 top: 0;
	 z-index: 1;
}
 mat-sidenav-container main-pane .pane-header {
	 background-color: #f59b2d !important;
}
 mat-sidenav-container main-pane .mat-row:hover {
	 background-color: #f7f7f7;
}
 mat-sidenav-container main-pane .highlight {
	 background-color: #fdecd7 !important;
}
 mat-sidenav-container main-pane .error-mess {
	 margin: 0;
	 padding: 10px 25px;
	 background: #fff0f0;
	 color: red;
	 position: absolute;
	 left: calc(50% - 131px);
	 top: 50%;
	 display: inline-flex;
}
 mat-sidenav-container main-pane .error-mess mat-icon {
	 padding-right: 5px;
}
 mat-sidenav-container mat-sidenav {
	 min-width: 40%;
}
 mat-sidenav-container detail-pane h2 {
	 margin-bottom: 0;
}
 mat-sidenav-container detail-pane p {
	 opacity: 0.8;
	 margin: 0 0 13px 0px;
}
 mat-sidenav-container detail-pane .btn-close {
	 position: absolute;
	 top: 20px;
	 right: 20px;
}
 mat-sidenav-container detail-pane .mat-table {
	 background-color: #f9f9f9;
	 height: calc(100vh - 198px);
	 padding: 20px 10px;
}
 mat-sidenav-container detail-pane .mat-header-row {
	 display: none;
}
 mat-sidenav-container detail-pane .mat-row {
	 min-height: 40px;
	 height: 40px;
}
 mat-sidenav-container detail-pane .mat-cell, mat-sidenav-container detail-pane .mat-input-element {
	 font-size: 12px;
}
 mat-sidenav-container detail-pane .mat-form-field {
	 opacity: 0.8;
}
 mat-sidenav-container detail-pane .mat-form-field.mat-focused {
	 opacity: 1;
}
 mat-sidenav-container detail-pane .mat-input-element:disabled {
	 color: rgba(0, 0, 0, 0.7);
}
/* Center the loader */
 .circle-loader {
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 z-index: 1;
	 margin: -30px 0 0 -30px;
	 border: 8px solid #f3f3f3;
	 border-radius: 50%;
	 border-top: 8px solid #3498db;
	 width: 60px;
	 height: 60px;
	 -webkit-animation: spin 1.5s linear infinite;
	 animation: spin 1.5s linear infinite;
}
 @-webkit-keyframes spin {
	 0% {
		 -webkit-transform: rotate(0deg);
	}
	 100% {
		 -webkit-transform: rotate(360deg);
	}
}
 @keyframes spin {
	 0% {
		 transform: rotate(0deg);
	}
	 100% {
		 transform: rotate(360deg);
	}
}
/* Add animation to "page content" */
 .animate-show {
	 position: relative;
	 -webkit-animation-name: animateshow;
	 -webkit-animation-duration: 1s;
	 animation-name: animateshow;
	 animation-duration: 1s;
}
 @-webkit-keyframes animateshow {
	 from {
		 opacity: 0;
	}
	 to {
		 opacity: 1;
	}
}
 @keyframes animateshow {
	 from {
		 opacity: 0;
	}
	 to {
		 opacity: 1;
	}
}
 