@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');
/*$main-color:#069BDE;*/
/*blue*/

$main-color: #f59b2d;
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}
mat-sidenav-container {
  display: flex;
  align-items: flex-start;
  min-width: 300px;
  width: 100%;
  font-family: "Segoe UI", sans-serif !important;
  color: rgba(0, 0, 0, 0.87);
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-table {
    overflow: auto;
    height: calc(100vh - 215px);
    .mat-form-field-ripple {
      background: $main-color;
    }
  }
  .mat-row {
    border: none !important;
    overflow: hidden;
    cursor: pointer;
  }
  .mat-cell {
    color: #4A4A4A;
  }
  .mat-paginator-container {
    border-top: 1px solid rgba(0, 0, 0, .12);
  }
  .mat-sidenav-content {
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  .mat-sidenav {
    max-width: 500px;
  }
}
.pane {
  min-width: 40%;
  .pane-header {
    min-height: 100px;
    height: 150px;
    padding: 8px 24px 0;
    background-color: darken($main-color, 5%);
    color: #fff;
    h1, h2 {
      font-weight: 300;
    }
    .header-row {
      display: flex;
      justify-content: space-between;
      .mat-form-field {
        max-width: 200px;
        .mat-form-field-label {
          color: #fff;
        }
        .mat-form-field-underline {
          background: rgba(255, 255, 255, 0.5);
        }
        .mat-form-field-ripple {
          background: #FFF;
        }
      }
      .button-row {
        padding-top: 11px;
      }
      .mat-button {
        font-weight: normal;
        padding: 0 5px;
        .mat-icon {
          font-size: 22px;
          padding-right: 4px;
        }
      }
    }
  }
  .mat-column-test {
    max-width: 100px;
    text-align: center;
    .mat-icon {
      font-size: 22px;
      color: #003A75;
    }
  }
  .mat-column-action {
    max-width: 100px;
    text-align: right;
    .mat-icon {
      font-size: 24px;
    }
  }
  .mat-column-created {
    max-width: 124px;
  }
  .mat-header-cell, .mat-sort-header-button {
    text-transform: uppercase;
    font-weight: 600;
    color: #4A4A4A;
  }
  .mat-header-row {
    position: sticky;
    background: white;
    top: 0;
    z-index: 1;
  }
}
mat-sidenav-container main-pane {
  .pane-header {
    background-color: lighten($main-color, 0%) !important;
  }
  .mat-row:hover {
    background-color: #F7F7F7;
  }
  .highlight {
    background-color: lighten($main-color, 35%) !important;
  }
  .error-mess {
    margin: 0;
    padding: 10px 25px;
    background: #FFF0F0;
    color: red;
    position: absolute;
    left: calc(50% - 131px);
    top: 50%;
    display: inline-flex;
    mat-icon {
      padding-right: 5px;
    }
  }
}
mat-sidenav-container mat-sidenav {
  min-width: 40%;
}
mat-sidenav-container detail-pane {
  h2 {
    margin-bottom: 0;
  }
  p {
    opacity: 0.8;
    margin: 0 0 13px 0px;
  }
  .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .mat-table {
    background-color: #F9F9F9;
    height: calc(100vh - 198px);
    padding: 20px 10px;
  }
  .mat-header-row {
    display: none;
  }
  .mat-row {
    min-height: 40px;
    height: 40px;
  }
  .mat-cell, .mat-input-element {
    font-size: 12px;
  }
  .mat-form-field {
    opacity: 0.8;
  }
  .mat-form-field.mat-focused {
    opacity: 1;
  }
  .mat-input-element:disabled {
    color: rgba(0, 0, 0, 0.7);
  }
}
/* Center the loader */

.circle-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -30px 0 0 -30px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Add animation to "page content" */

.animate-show {
  position: relative;
  -webkit-animation-name: animateshow;
  -webkit-animation-duration: 1s;
  animation-name: animateshow;
  animation-duration: 1s
}
@-webkit-keyframes animateshow {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@keyframes animateshow {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}